{% extends 'base.html' %}

{% block title %}Principal{% endblock %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <center>
  <div style="margin-top: 30px;">
    <div btn-group data-grouptype="OU">
        <a href="#">Mês anterior</a>
        <a href="#">Próximo mês</a>
    </div>
   </div>
        <div id="conteudo">
            <h1>Calendário de tarefas</h1>
            <div id="calendar">
                <div id="chart_div"></div>
            </div>
        </div>
    </center>
    

    {% for instance in funcionarios %}
        <p>{{instance.id}} - {{instance.nome}}</p>
    {% endfor %}

{% endblock %}